<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1> Welcome to my first app with Spring Security!</h1>
<h2><a href="/login">Login</a></h2>
<h2><a href="/registration">Registration</a></h2>

</form>
<style>
    h1{
        text-align: center;
        background-color: #594545;
        border-radius: 25px;
    }
    h2{
        text-align: center;
    }
    h3{
        text-align: center;
    }
    body{
        background: #9E7676;
        color: #FFF8EA;
    }
    button{
        text-align: center;
    }
</style>
</body>
</html>